<!doctype html>
<html lang="en">
<%- include('../inc/head.ejs')%>
<body>
<header>
    <%- include('../inc/logoBox.ejs') %>
    <%- include('../inc/nav.ejs')%>
    <%- include('../inc/breadcrumbs.ejs')%>
</header>
<main>
    <aside>

    </aside>
    
</main>
</body>
</html>